.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .iconeye{
    align-items: right;
    justify-content: right;
    padding-right: 1rem;
  }
  
  .title {
    color: #008000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #777777;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    
  }
  
  .social-button {
    width: 48%;
  }
  
  .or-divider {
    color: black;
    margin: 10px 0;
  }
  
  .input-field {
    background: #F5F9FE;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 27rem;
    height: 2.5rem; /* Ajusté la altura para ser más coherente */
    padding: 0.5rem; /* Añadí padding para el espaciado interno */
    border: 2px solid #ccc; /* Borde inicial gris claro */
    transition: border-color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .input-field:focus {
    border: 2px solid green; /* Cambia el borde a verde al hacer foco */
    outline: none; /* Elimina el borde predeterminado */
  }
  
  .email-field {
    color: black;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .password-field {
    color: black;
    text-align: left;
    position: relative; /* Para posicionar el icono del ojo */
  }
  
  
  .forgot-password {
    display: block;
    margin-top: 0.5rem;
    text-decoration: none;
    color: blue;
    font-size: 0.9rem;
  }
  
  .eye-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
  }
  
  .forgot-password {
    color: #777777;
    text-align: right;
    display: block;
    margin-bottom: 20px;
  }
  
  .login-button {
    background-color: #28a745;
    
    width: 100%;
    border-radius: 10px;
  }
    
    .login-container{
        width: 95%;
    }
 
  
  
  
  .register-link {
    color: black;
    margin-top: 20px;
    text-align: left;
  }
  
  .register-link span {
    color: #28a745;
    font-weight: bold;
    text-align: left;
  }